.gradingform_rubric_ranges_editform .status {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 60%;
    padding: 0.25em;
    border: 1px solid #eee;
}

.gradingform_rubric_ranges_editform .status.ready {
    background-color: #e7f1c3;
    border-color: #aea;
}

.gradingform_rubric_ranges_editform .status.draft {
    background-color: #f3f2aa;
    border-color: #ee2;
}

.gradingform_rubric_ranges {
    padding-bottom: 1.5em;
}

.gradingform_rubric_ranges.editor .criterion .controls,
.gradingform_rubric_ranges .criterion .description,
.gradingform_rubric_ranges .criterion .levels,
.gradingform_rubric_ranges.editor .criterion .addlevel,
.gradingform_rubric_ranges .criterion .remark,
.gradingform_rubric_ranges .criterion .levels .level {
    vertical-align: top;
}
.gradingform_rubric_ranges.editor .criterion .controls {
    float: right;
}
.gradingform_rubric_ranges.editor .criterion .controls,
.gradingform_rubric_ranges .criterion .description,
.gradingform_rubric_ranges.editor .criterion .addlevel,
.gradingform_rubric_ranges .criterion .remark,
.gradingform_rubric_ranges .criterion .levels .level {
    padding: 3px;
}

.gradingform_rubric_ranges .criteria {
    height: 100%;
    display: flex;
    width: 100%;
    overflow: auto;
}

.gradingform_rubric_ranges .criterion {
    border: 1px solid #ddd;
    overflow: hidden;
}

.gradingform_rubric_ranges .criterion.even {
    background: #f0f0f0;
}

.gradingform_rubric_ranges .criterion .description {
    min-width: 150px;
    font-weight: bold;
}

.gradingform_rubric_ranges .criterion .levels table {
    width: 100%;
    height: 100%;
}

.gradingform_rubric_ranges .criterion .levels,
.gradingform_rubric_ranges .criterion .levels table,
.gradingform_rubric_ranges .criterion .levels table tbody {
    padding: 0;
    margin: 0;
}

.gradingform_rubric_ranges .criterion .levels .level {
    border-left: 1px solid #ddd;
    max-width: 150px;
}

.gradingform_rubric_ranges .criterion .levels .level .level-wrapper {
    position: relative;
}

.gradingform_rubric_ranges .criterion .levels .level.last {
    border-right: 1px solid #ddd;
}

.gradingform_rubric_ranges .plainvalue.empty {
    font-style: italic;
    color: #aaa;
}

.gradingform_rubric_ranges.editor .criterion .levels .level .delete {
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: -32px;
    clear: both;
    float: right;
}

.gradingform_rubric_ranges .criterion .levels .level .score {
    font-style: italic;
    color: #575;
    font-weight: bold;
    margin-top: 5px;
    white-space: nowrap;
    position: relative;
    float: left;
    margin-right: 28px;
}

/* Make invisible the buttons 'Move up' for the first criterion and
   'Move down' for the last, because those buttons will make no change */
.gradingform_rubric_ranges.editor .criterion.first .controls .moveup input,
.gradingform_rubric_ranges.editor .criterion.last .controls .movedown input {
    display: none;
}

/* evaluation */
.gradingform_rubric_ranges .criterion .levels .level.currentchecked {
    background: #fff0f0;
}

.gradingform_rubric_ranges .criterion .levels .level.checked {
    background: #d0ffd0;
    border: 1px solid #555;
}

.gradingform_rubric_ranges.evaluate .criterion .levels .level:hover {
    background: #d0ffd0;
}

/* replace buttons with images */
.gradingform_rubric_ranges.editor .delete input,
.gradingform_rubric_ranges.editor .duplicate input,
.gradingform_rubric_ranges.editor .moveup input,
.gradingform_rubric_ranges.editor .movedown input {
    text-indent: -1000em;
    cursor: pointer;
    border: none;
}

.gradingform_rubric_ranges.editor .criterion .controls .delete input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/delete]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}

.gradingform_rubric_ranges.editor .criterion .controls .duplicate input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/copy]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}

.gradingform_rubric_ranges.editor .levels .level .delete input {
    background: transparent url([[pix:t/delete]]) no-repeat center center;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    width: 24px;
    margin: 0;
}

.gradingform_rubric_ranges.editor .moveup input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/up]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}

.gradingform_rubric_ranges.editor .movedown input {
    width: 12px;
    height: 12px;
    background: transparent url([[pix:t/down]]) no-repeat center top;
    margin: .3em .3em 0 .3em;
}
.gradingform_rubric_ranges.editor .addcriterion {
    margin-left: 5px;
    padding: 0;
    margin-bottom: 1em;
}
.gradingform_rubric_ranges.editor .addcriterion input {
    height: 30px;
    line-height: 29px;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 10px;
}
.gradingform_rubric_ranges.editor .addcriterion input,
.gradingform_rubric_ranges.editor .addlevel input {
    background: #fff url([[pix:t/add]]) no-repeat 7px 8px;
    display: block;
    color: #555;
    font-weight: bold;
    text-decoration: none;
}
.gradingform_rubric_ranges.editor .addcriterion input {
    margin: 0;
    color: inherit;
    text-shadow: inherit;
    border: 0 none;
    line-height: inherit;
    background: transparent url([[pix:t/add]]) no-repeat 7px 8px;
    padding-left: 26px;
}
.gradingform_rubric_ranges.editor .addlevel input {
    padding-left: 24px;
    padding-right: 8px;
}

.gradingform_rubric_ranges .options .optionsheading {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.gradingform_rubric_ranges .options .option {
    padding-bottom: 2px;
}

.gradingform_rubric_ranges .options .option label {
    margin-left: 5px;
}

.gradingform_rubric_ranges .options .option .value {
    margin-left: 5px;
    font-weight: bold;
}

.gradingform_rubric_ranges .criterion .levels.error {
    border: 1px solid red;
}

.gradingform_rubric_ranges .criterion .description.error,
.gradingform_rubric_ranges .criterion .levels .level .definition.error,
.gradingform_rubric_ranges .criterion .levels .level .score.error {
    background: #fdd;
}

.gradingform_rubric_ranges-regrade {
    padding: 10px;
    background: #fdd;
    border: 1px solid #f00;
    margin-bottom: 10px;
}

.gradingform_rubric_ranges-restored {
    padding: 10px;
    background: #ffd;
    border: 1px solid #ff0;
    margin-bottom: 10px;
}

.gradingform_rubric_ranges-error {
    color: red;
    font-weight: bold;
}

/* special classes for elements created by rubriceditor.js */
.gradingform_rubric_ranges.editor .hiddenelement {
    display: none;
}

.gradingform_rubric_ranges.editor .pseudotablink {
    background-color: transparent;
    border: 0 solid;
    height: 1px;
    width: 1px;
    color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
}

.gradingpanel-gradingform_rubric_ranges [aria-checked="true"] {
    /* border: 1px solid black; */
}

#rubric-rubricranges.gradingform_rubric_ranges #rubricranges-criteria {
    margin-bottom: 1em;
}

.floatright {
    float: right;
}

.gradingform_rubric_ranges .criterion .description .isranged input {
    margin-right: 5px;
}

#rubricranges-criteria .criterion .scorevalue input {
    width: 2em;
}

.path-mod-assign [data-region="grade-panel"] .fitem.popout .gradingform_rubric_ranges table {
    font-size: .8rem;
    display: table;
}

.path-mod-assign [data-region="grade-panel"] .fitem.popout .gradingform_rubric_ranges .remark {
    width: 200px;
}

.path-mod-assign [data-region="grade-panel"] .fitem.popout .gradingform_rubric_ranges .remark textarea {
    width: 200px;
}
